@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.wrapper {
  max-width: 550px;
}

span,
p {
  font-size: 15px;
  color: #504f4f;
  text-align: justify;
}

body {
  background: #f8f8f8;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: black;
  color: #ffffff;
}

.text-muted {
  color: #b0b0b0;
}

.divider {
  margin: 20px 0px 20px 0px;
  width: 100%;
  border: 0.9px solid #ebedf0;
}

.border-color {
  border: 0.9px solid #ebedf0;
}

.card-shadow {
  box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
  -webkit-box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
  -moz-box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
}

.badge-circular {
  padding: 5px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
  -webkit-box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
  -moz-box-shadow: 0px 1px 9px 1px rgba(235, 235, 235, 0.82);
  border-radius: 50px;
}


.animateOn {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: ease-in 1s;
}

.animateOff {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(-50%);
  transition: ease-out 1s;
}

.academic_card:nth-child(1) {
  transition-delay: 100ms;
}

.academic_card:nth-child(2) {
  transition-delay: 300ms;
}

.academic_card:nth-child(3) {
  transition-delay: 600ms;
}

.experience_card:nth-child(1) {
  transition-delay: 100ms;
}

.experience_card:nth-child(2) {
  transition-delay: 300ms;
}

.experience_card:nth-child(3) {
  transition-delay: 600ms;
}

.skill_card:nth-child(1) {
  transition-delay: 100ms;
}

.skill_card:nth-child(2) {
  transition-delay: 300ms;
}

.skill_card:nth-child(3) {
  transition-delay: 600ms;
}

.feed_card:nth-child(1) {
  transition-delay: 100ms;
}

.feed_card:nth-child(2) {
  transition-delay: 300ms;
}

.feed_card:nth-child(3) {
  transition-delay: 600ms;
}