@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,400&family=Poppins:wght@500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Imbue', serif;
  font-family: 'Poppins', sans-serif;
}

span,
p {
  font-family: Verdana !important;
  font-size: 15px;
  color: #5e5e5e;
  /* text-align: justify; */
}

body {
  background: #ffffff;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: black;
  color: #ffffff;
}

.text-muted {
  color: #b0b0b0;
}

.divider {
  margin: 20px 0px 20px 0px;
  width: 100%;
  border: 0.9px solid #ebedf0;
}

.border-color {
  border: 0.9px solid #ebedf0;
}